trigger:
- master

pool:
  vmImage: 'windows-latest'

steps:

- task: JfrogCliV2@1
  inputs:
    jfrogPlatformConnection: 'elinaf-art'
    command: |
      jf rt dl example-repo-local/crowdstrike.6.39.15316.0.nupkg --build-name=davidfa-azure --build-number=1
      jf rt bp davidfa-azure 1
