trigger:
- master

pool:
  name: Default
  

steps:
- task: JFrogPublishBuildInfo@1
  inputs:
    artifactoryConnection: 'elinaf-artv2'
    buildName: '$(Build.DefinitionName)'
    buildNumber: '$(Build.BuildNumber)'

