trigger:
- master

pool:
  name: Default
  
variables:
  system.debug: true
  
steps:
- bash: |
    # Localise le node interne dans le dossier de l'agent
    INTERNAL_NODE=$(find $AGENT_HOMEDIRECTORY/externals -name node -type f | head -n 1)
    echo "Le Node interne de l'agent est : $INTERNAL_NODE"
    $INTERNAL_NODE -v
  displayName: 'Vérification Node Interne Agent'

- task: NodeTool@0
  inputs:
    versionSpec: '12.x'

- script: |
    echo "VERSION UTILISEE POUR LE TEST :"
    node -v
  displayName: 'Check Node Version before JFrog'
  
- bash: |
    echo "--- Vérification de la version de Node ---"
    NODE_PATH=$(which node)
    $NODE_PATH -v
    
    echo "--- Tentative de chargement du script JFrog avec Node 12 ---"
    # On cherche le fichier utils.js dans le répertoire de travail de l'agent
    # Le chemin est basé sur l'erreur que tu as reçue
    TARGET_FILE=$(find $(Agent.WorkFolder) -path "*/node_modules/@jfrog/tasks-utils/utils.js" | head -n 1)
    
    if [ -f "$TARGET_FILE" ]; then
        echo "Fichier trouvé : $TARGET_FILE"
        $NODE_PATH -e "require('$TARGET_FILE')"
    else
        echo "Erreur : Impossible de localiser utils.js. Lance le build JFrog une fois pour qu'il télécharge les dépendances."
    fi
  displayName: 'Reproduce Syntax Error'

- task: JfrogCliV2@1
  inputs:
    jfrogPlatformConnection: 'elinaf-platform'
    command: 'jf rt dl example-repo-local/crowdstrike.6.39.15316.0.nupkg --build-name=davidfa-azure --build-number=1'
- task: JFrogPublishBuildInfo@1
  inputs:
    artifactoryConnection: 'elinaf-artv2'
    buildName: 'davidfa-azure'
    buildNumber: '1'

